.component {
  background-color: lightgray;
  min-height: 100vh;
}

.logo {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 10px;
  right: 10px;

}

.window {
  width: 60vw;
  height: 80vh;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  // box-shadow: 5px 5px 10px;
  border-radius: 10px;
  background-color: lightgray;
}
