.component {
  background-color: lightgray;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
}

.window {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border-radius: 10px;
  background-color: lightgray;
}

.calculate {
  background-color: gray;
  height: 500px;
  width: 600px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
  margin-top: 10px;
  padding: 10px 0;
}

.radiuses {
  width: 80%;
  margin: 0 auto;
  height: 110px;
  background-color: lightgray;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}

.radius1, .radius2 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.values {
  display: flex;
}
.valueContainer {
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.value {
font-size: 25px;
}

h5 {
  font-size: 18px;
  margin: 0 auto;
}

.doubleData {
  width: 80%;
  margin: 10px auto;
  height: 200px;
  background-color: lightgray;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  svg {
    font-size: 30px;
    border: 1px solid gray;
    margin: 1px;
    border-radius: 50%;
  }

  svg:hover {
    background-color: gray;
  }
}

.sync {
  margin-top: 10px;
  label {
    margin-left: 4px;
  }
}

.density {
  h5 {
    margin-top: 100px;
  }
}

@media all and (max-width: 650px) {
  .window {
    width: 99vw;
  }

  .radiuses {
    width: 99%;
  }

  .calculate {
    margin-top: 10px;
    height: 60%;
  }

  .logo {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 90%;
    right: 10px;
  }

  .doubleData {
    width: 99%;
    margin: 10px auto;
    height: 250px;
    background-color: lightgray;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
  }

  .density {
    border: 1px solid black;
  }
}
